<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/stil.css">
    <title>Igraonica Barbi</title>
  </head>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">Igraonica Barbi</a>
      </div>
      <ul class="nav  navbar-right">
        <li class="active"><a href="/rezervacije">Pregled rezervacija</a></li>
        <li><a href="/registracija"> Registracija</a></li>
        <li><a href="/"> Odjava</a></li>
      </ul>
    </div>
  </nav>
  <div class="container mt-4">
    <div class="card">
      <div class="card-header">
        Pregled rezervacija
      </div>
        <div class="card-body">
          <form action="/auth/pregledRez" method="POST" >
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Ime roditelja</th>
                  <th scope="col">Ime slavljenika</th>
                  <th scope="col">Broj uzvanika</th>
                  <th scope="col">E-mail</th>
                  <th scope="col">Datum rezervacije</th>
                  <th scope="col">Vrijeme rezervacije</th>
                </tr>
              </thead>
              <tbody>
                {{#each data}}
                <tr>
                  <th scope="row">1</th>
                  <td>{{this.ime}}</td>
                  <td>{{this.ime_slavljenika}}</td>
                  <td>{{this.br_uzvanika}}</td>
                  <td>{{this.email}}</td>
                  <td>{{this.datum}}</td>
                  <td>{{this.vrijeme}}</td>
                </tr>
               {{/each}}
              </tbody>
            </table>
         </form>
        </div>
    
    </div>
     
  </div> 
      {{#if message2}}
      <h4 class="alert alert-success mt-4">{{message2}}</h4>
      {{/if}}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  </body>
</html>